[submodule ".emacs.d/submodules/org-mode"]
	path = .emacs.d/submodules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".emacs.d/submodules/python-mode"]
	path = .emacs.d/submodules/python-mode
	url = git://github.com/emacsmirror/python-mode.git
